*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  text-align: center;
}


/* #loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 50vh;
  background-color: rgba(155, 155, 155, 07);
} */

/* .logo-loader{
  width: 10%;
  height: 50%;
} */
