.booksList {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
    /* padding-top: 50px; */
    /* background-color: rgb(240, 240, 240); */

}

.book {
    text-align: left;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;

}

.book5 {
    text-align: left;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;

}

.book5 h4 {
    font-size: 0.75rem;
    color: #617d98;
    letter-spacing: 5px;

}

.book5 p {
    margin-top: 0.5rem;

}

.book2{
    text-align: left;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    
}

.book2 h4{
    font-size: 0.75rem;
    color: #617d98;
    letter-spacing: 5px;

}

.book2 h1{
    margin-top: 0.5rem;
}

.book h1 {
    margin-top: 0.25rem;

}

.book h4 {
    color: brown;
    letter-spacing: 5px;
    
}


@media screen and (min-width:768px) {
    .booksList {
        grid-template-columns: repeat(3, 1fr);
    }
}
