
.contact1{
margin: 60px;

}
.contact1__title{
    margin: 20px;
}
.contact1__text{
    font-family: Roboto;
    margin: 20px;
    font-weight: 400;
    text-align: justify;
    color: maroon;
}
.contact1__author{
    margin: 0 10px;
}