
.contact{
margin: 60px;

}
.contact__title{
    margin: 20px;
}
.contact__text{
    font-family: Roboto;
    margin: 20px;
    font-weight: 400;
    text-align: justify;
}
.contact__author{
    margin: 0 10px;
}