

main {
    margin-top: 50px;
    width: 950px;
    /* text-align: center; */
    background-image: linear-gradient(90deg, rgb(206, 202, 202) 50%, #fff 50%);
    /* margin: 60px; */
    border: solid 0.1px rgba(211, 211, 211, 0.461);
    box-shadow: 6px 6px 6px -7px rgba(0,0,0,.3);
    
}
/* //// loschen */
li {
    list-style: none;
}


.headline {
    font-size: 1rem;
    font-style: italic;
    color: rgb(96, 96, 96);

}

.layout_page_one {
    display: flex;
    justify-content: center;
    /* margin-bottom: 30px; */
    /* padding: 20px; */
    line-height: 1.4;
    font-size: 1rem;
    
}

.foto {
    margin: 50px;
    border-radius: 100px;
    border: solid 2px #fff;
    width: 150px;
    height: auto;
    
}

.name_one {
    font-size: 24px;
    /* color: rgb(96, 96, 96); */
}

.user_name_one {
    margin-bottom: 40px;
    color: rgb(96, 96,96);

}
.fullstack_text {
    font-style: italic;
}


.hobby_icons {
    width: 50px;
    margin: 0 5px;

 }

 .icons {
    margin: 10px 0;
    filter: invert(41%) sepia(9%) saturate(18%) hue-rotate(317deg) brightness(87%) contrast(92%);

}
 .hobby_text {
    font-size: 1rem;
    font-style: italic;
    color: snow;
    text-align: right;
    text-transform: uppercase;

}

.contact {
    font-size: 1rem;
    font-style: italic;
    color: snow;
    text-align: right;
    text-transform: uppercase;

}

.__contact-text {
    font-size: 0.9rem;
    line-height: 1.4;
    color: rgb(96, 96, 96);
    font-style: italic;
    margin-top: 10px;

}

.contact_bottom {
    margin: 20px 0 40px;
   
}

.right_side {
    margin-left: 60px;
    text-align: left;

}

.education {
    margin: 80px 0;

}

/* start diagram old ---------------------------------*/

.skill_list {
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: left;

}

.skill {
    color: snow;
    margin: 15px 0;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: rgb(96, 96, 96);

}

.left {
    text-align: right;
    font-size: 1rem;
    width: 42%;

}

.__javascript {
    width: 140px;
}

.__html {
    width: 200px;
}

.__css3 {
    width: 190px;
}

.__node {
    width: 150px;
}

.__react {
    width: 150px;
}

.__github {
    width: 160px;
}

.__illustrator {
    width: 200px;
}

.__photoshop {
    width: 200px;
}

.__adobeXd {
    width: 170px;
}

.__lightroom {
    width: 210px;
}

.__movie {
    width: 190px;
}

.__keynote {
    width: 190px;
}

.__rating {
    color: rgb(132, 133, 133);
    width: 300px;
    background-color: rgb(206, 202, 202);

}
/* end diagram old -------------------------*/


