section {
    margin: 50px;
}
.title {
    background-color: #bbbbbb;
    padding: 30px;
    text-align: center;
    color: #01638e;
}

h2 {
    margin: 50px 0 50px;
    padding: 20px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #45934b;
}

.cash {
    margin-left: 0px;
    padding: 10px;
    font-size: 24px;
}

input {
    margin-left: 0px;
    padding: 10px;
    font-size: 24px;
    background-color: #A5BE4B;
    border: solid 0px;
}

.change {
    margin: auto;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    background-color: #eeeeee;
}