/* section {
    margin: 50px;
} */
.title {
    background-color: #3164e6;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    color: #f5f5f5;
}

/* h2 {
    margin: 50px 0 50px;
    padding: 20px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #45934b;
} */


.cash {
    color: rgb(7, 45, 126);
    font-weight: bold;
    margin: auto;
    padding: 30px 40px;
    font-size: 24px;
    text-align: left;
    border-radius: 20px;
    background-color: rgb(244, 169, 40);
}

.quantity {
    margin: 20px;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    background-color: #f4f4f4;
    border: solid 0;
    border-radius: 10px;
}

.change {
    margin: 50px auto;
    padding: 0 40px;
    width: 750px;
    height: 400px;
    border-radius: 20px;
    background-color: #3164e6;
    opacity: 50%;
    
}