
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    background-color: #E5FB8B;
    height: 7vh;

}
.logoBottom__image {
    align-items: center;
    width: 100px;
    margin: 0 5px;

}

.footer__address-info{
    color: #183a29;
    letter-spacing: 3px;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    
}