

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    /* margin-top: 20px; */
    color: #183a29;
    line-height: 1.5;
    background-color: rgb(172, 238, 205);
    height: 7vh;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    
   
}
.logoBottom__image {
    align-items: center;
    width: 100px;
    margin: 0 5px;
}