

.banner__image {
    /* background-color: slategrey; */
    height: 450px;
    width: 100vw;
    background-size: cover;
}

/* .page__header {
    background: rgb(34, 59, 80);
} */


.button--large {
    position: absolute;
    right: -40%;
    top: -80px;
    /* width: 70px; */
    /* height: 50px; */
    /* font-size: 18px; */
    /* padding: 10px 10px; */
    /* border: solid 5px #5cb857; */
    /* border-radius: 30px; */
    /* color: #00e676; */
    /* background-color: cornflowerblue; */
    
}
/* 
.banner {
    display: flex; 
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100vw;

} */

.banner__title {
    font-weight: 500;
    position: absolute;
    font-family: Anton;

}

.banner__title--creative {
    font-size: 2rem;
    left: 40px;
    top: 80px;
    color: rgb(216, 4, 235);

}

.banner__title--innovation {
    font-size: 5rem;
    left: 110px;
    top: 130px;
    color: rgb(230, 230, 0);

}

.banner__title--success {
    font-size: 2.5rem;
    left: 160px;
    top: 100px;
    color: rgb(21, 255, 0);

}

.banner__title--development {
    font-size: 2rem;
    left: 240px;
    top: 240px;
    color: rgb(255, 255, 255);

}

.banner__title--idea {
    font-size: 6rem;
    left: 140px;
    top: 260px;
    color: rgb(240, 153, 254);

}

.banner__title--technology {
    left: 80px;
    top: 50px;
    color: rgb(255, 255, 255);

}

.banner__title--art {
    font-size: 2.5rem;
    left: 160px;
    top: 220px;
    color: rgb(1, 255, 234);

}

.banner__title--work{
    font-size: 3rem;
    left: 370px;
    top: 280px;
    color: rgb(255, 251, 134);

}

.banner__title--inspiration{
    font-size: 3rem;
    left: 230px;
    top: 380px;
    color: rgb(134, 255, 180);

}

