.home {
    width: 750px;
    padding: 50px;
    margin: 50px auto;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
    
}

.home_text{
    padding: 20px;
    color: rgb(106, 106, 106);

}

.home__text-2{
    padding: 20px;
    color: maroon;

}