.menu {
    background-color: rgb(237, 244, 234);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #ffffff; */
}

.logo__image {
    height: 30px;
}

.logo__name {
    padding: 0 60px 0 10px;
}

.menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu__item {
    float: left;
}

a:link {
    color: rgb(226, 43, 128);
}

a:visited {
    color: rgb(27, 131, 48);
}

a:hover {
    color: #63c770;
}

a:active {
    color: rgb(174, 21, 205);
}

.menu__link {
    text-decoration: none;
    /* display: block; */
    padding: 0 18px;
}
