
  h1 {
    background-color: #192206;
    padding: 30px;
    color: #618220;
    
  }

  .clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #01ff4d;
    text-shadow: -5px 5px 15px #80fea6;
    width: 300px;
    height: 300px;
    border: solid 25px #b0b0b0d6;
    border-radius: 150px;
    padding-top: 100px;
    margin: 50px auto;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(10, 29, 8);
  
  }